#content {
  padding: 20px;
  margin-bottom: 80px;
}

.card {
  background: #161b22;
  margin: 15px auto;
  padding: 15px;
  border-radius: 8px;
  width: 90%;
}

.card button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: #00ffcc;
  border: none;
  cursor: pointer;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0d1117;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #333;
}

.bottom-nav button {
  background: none;
  color: #00ffcc;
  border: none;
  font-size: 14px;
}
