.plan-card {
  background: #111;
  border: 1px solid #333;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  color: #fff;
}

.plan-card h3 {
  color: #00ff99;
}

.plan-card button {
  background: #00ff99;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}
